.App {
  display: grid;
  gap: 2rem;
  background-image: linear-gradient(45deg, rgba(67, 67, 185, 0.4),rgba(63, 170, 42, 0.425));
  height: 100%;
  padding: 3rem 8rem;
  justify-content: center;
  align-items: center;
}
