.Form input{
    padding: 5px 10px;
}

.Show input{
    padding: 4px 10px;
    margin-right: 4px;
}
.type{
    color: rgba(160, 19, 73, 0.719);
    font-size: large;
}
.btn{
    margin-left: 10px ;
    border-radius: 5px;
    padding: 4px 20px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.322);
    cursor: pointer;
 }
.Delete{
    color: brown;
 }

.Edit{
    color: rgb(18, 143, 101);
}
.Delete:hover{
    color: rgba(165, 42, 42, 0.438);
 }

.Edit:hover{
    color: rgba(18, 143, 101, 0.616);
}